@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-default{
    background-color: #ff9568;
}

.bg-color-navbar{
    background-color: #5D4037 ;
}

.bg-color-sidebar{
  background-color: #7c4a3b ;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.blog-post-content-font{
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hover-button:hover{
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}