@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-default{
    background-color: #ff9568;
}

.bg-color-navbar{
    background-color: #5D4037 ;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
    